# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
print(g_key)

AIzaSyCbGaLWzLR0GE9mK33UeE8CTdqBueTmZPQ

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
# Store filepath in a variable
part_one = "../Resources/clean_city_data.csv"

# Read Data file with the pandas library
part_one_df = pd.read_csv(part_one)

part_one_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Paredon,16.0333,-93.8667,77.41,85.0,100.0,10.18,MX,1.627639e+09
1,Gunjur,13.2019,-16.7339,80.67,83.0,75.0,9.22,GM,1.627639e+09
2,Kapaa,22.0752,-159.3190,75.11,59.0,96.0,1.01,US,1.627639e+09
3,Woodward,36.4337,-99.3904,74.73,83.0,1.0,0.00,US,1.627639e+09
4,Port Elizabeth,-33.9180,25.5701,68.09,67.0,0.0,6.91,ZA,1.627639e+09
...,...,...,...,...,...,...,...,...,...
556,Mapiri,-15.2500,-68.1667,55.18,93.0,100.0,0.02,BO,1.627639e+09
557,Vila,42.0304,-8.1588,65.75,65.0,11.0,4.68,PT,1.627639e+09
558,Azul,-36.7770,-59.8585,35.83,63.0,0.0,7.63,AR,1.627639e+09
559,Tefé,-3.3542,-64.7114,68.81,75.0,76.0,2.98,BR,1.627639e+09
560,Yeppoon,-23.1333,150.7333,65.98,87.0,0.0,11.32,AU,1.627639e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [8]:
# Create initial figure
fig = gmaps.figure()

# Create a Heatmap layer
locations = part_one_df[["Lat", "Lng"]]
vac_1 = gmaps.heatmap_layer(locations, weights=part_one_df["Humidity"])
fig.add_layer(vac_1)

# Vizualize
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
# find locations with the perfect tempreture
perfect_temp = (part_one_df["Max Temp"] > 70) & (part_one_df["Max Temp"] <80)
part_one_df.loc[perfect_temp]

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Paredon,16.0333,-93.8667,77.41,85.0,100.0,10.18,MX,1.627639e+09
2,Kapaa,22.0752,-159.3190,75.11,59.0,96.0,1.01,US,1.627639e+09
3,Woodward,36.4337,-99.3904,74.73,83.0,1.0,0.00,US,1.627639e+09
6,Amarwāra,22.3000,79.1667,71.94,90.0,100.0,11.05,IN,1.627639e+09
8,Tucumã,-0.1833,-50.0500,74.48,91.0,71.0,3.56,BR,1.627639e+09
...,...,...,...,...,...,...,...,...,...
547,Zarichne,51.8126,26.1290,79.97,41.0,0.0,9.46,UA,1.627639e+09
549,Nemuro,43.3236,145.5750,77.43,97.0,20.0,7.47,JP,1.627639e+09
550,Kieta,-6.2167,155.6333,79.56,85.0,93.0,4.88,PG,1.627639e+09
551,Gweta,-20.1833,25.2333,74.73,17.0,22.0,14.52,BW,1.627639e+09
555,Richmond,37.5538,-77.4603,76.98,86.0,13.0,5.53,US,1.627639e+09

In [15]:
# place them in a dataframe for further filtering
pt_df = part_one_df.loc[perfect_temp]
pt_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Paredon,16.0333,-93.8667,77.41,85.0,100.0,10.18,MX,1.627639e+09
2,Kapaa,22.0752,-159.3190,75.11,59.0,96.0,1.01,US,1.627639e+09
3,Woodward,36.4337,-99.3904,74.73,83.0,1.0,0.00,US,1.627639e+09
6,Amarwāra,22.3000,79.1667,71.94,90.0,100.0,11.05,IN,1.627639e+09
8,Tucumã,-0.1833,-50.0500,74.48,91.0,71.0,3.56,BR,1.627639e+09
...,...,...,...,...,...,...,...,...,...
547,Zarichne,51.8126,26.1290,79.97,41.0,0.0,9.46,UA,1.627639e+09
549,Nemuro,43.3236,145.5750,77.43,97.0,20.0,7.47,JP,1.627639e+09
550,Kieta,-6.2167,155.6333,79.56,85.0,93.0,4.88,PG,1.627639e+09
551,Gweta,-20.1833,25.2333,74.73,17.0,22.0,14.52,BW,1.627639e+09
555,Richmond,37.5538,-77.4603,76.98,86.0,13.0,5.53,US,1.627639e+09

In [16]:
# find locations with the perfect tempreture & light winds
light_wind = (pt_df["Wind Speed"] < 10)
pt_df.loc[light_wind]

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,Kapaa,22.0752,-159.3190,75.11,59.0,96.0,1.01,US,1.627639e+09
3,Woodward,36.4337,-99.3904,74.73,83.0,1.0,0.00,US,1.627639e+09
8,Tucumã,-0.1833,-50.0500,74.48,91.0,71.0,3.56,BR,1.627639e+09
10,Vaini,-21.2000,-175.2000,71.76,100.0,75.0,6.91,TO,1.627639e+09
14,Vila Franca do Campo,37.7167,-25.4333,72.01,84.0,57.0,6.51,PT,1.627639e+09
...,...,...,...,...,...,...,...,...,...
546,Pitimbu,-7.4706,-34.8086,72.19,80.0,21.0,6.96,BR,1.627639e+09
547,Zarichne,51.8126,26.1290,79.97,41.0,0.0,9.46,UA,1.627639e+09
549,Nemuro,43.3236,145.5750,77.43,97.0,20.0,7.47,JP,1.627639e+09
550,Kieta,-6.2167,155.6333,79.56,85.0,93.0,4.88,PG,1.627639e+09
555,Richmond,37.5538,-77.4603,76.98,86.0,13.0,5.53,US,1.627639e+09

In [17]:
# place them in a dataframe for further filtering
ptlw_df = pt_df.loc[light_wind]
ptlw_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,Kapaa,22.0752,-159.3190,75.11,59.0,96.0,1.01,US,1.627639e+09
3,Woodward,36.4337,-99.3904,74.73,83.0,1.0,0.00,US,1.627639e+09
8,Tucumã,-0.1833,-50.0500,74.48,91.0,71.0,3.56,BR,1.627639e+09
10,Vaini,-21.2000,-175.2000,71.76,100.0,75.0,6.91,TO,1.627639e+09
14,Vila Franca do Campo,37.7167,-25.4333,72.01,84.0,57.0,6.51,PT,1.627639e+09
...,...,...,...,...,...,...,...,...,...
546,Pitimbu,-7.4706,-34.8086,72.19,80.0,21.0,6.96,BR,1.627639e+09
547,Zarichne,51.8126,26.1290,79.97,41.0,0.0,9.46,UA,1.627639e+09
549,Nemuro,43.3236,145.5750,77.43,97.0,20.0,7.47,JP,1.627639e+09
550,Kieta,-6.2167,155.6333,79.56,85.0,93.0,4.88,PG,1.627639e+09
555,Richmond,37.5538,-77.4603,76.98,86.0,13.0,5.53,US,1.627639e+09

In [18]:
# find locations with the perfect tempreture, light winds and clear sky
perfect_place = (ptlw_df["Cloudiness"] == 0)
ptlw_df.loc[perfect_place]

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
22,Rikitea,-23.1203,-134.9692,70.95,70.0,0.0,3.58,PF,1.627639e+09
73,Saint-François,46.4154,3.9054,72.48,72.0,0.0,3.44,FR,1.627639e+09
94,Krasne,49.9145,24.6134,79.95,49.0,0.0,6.15,UA,1.627639e+09
110,Pedernales,18.0384,-71.7440,79.52,66.0,0.0,3.89,DO,1.627639e+09
446,Chenôve,47.2932,5.0046,74.62,53.0,0.0,8.05,FR,1.627639e+09
474,Morondava,-20.2833,44.2833,79.52,55.0,0.0,9.10,MG,1.627639e+09
488,Campbell River,50.0163,-125.2446,71.13,82.0,0.0,5.84,CA,1.627639e+09
547,Zarichne,51.8126,26.1290,79.97,41.0,0.0,9.46,UA,1.627639e+09

In [19]:
# create a dataframe of perfect places
perfect_df = ptlw_df.loc[perfect_place]
perfect_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
22,Rikitea,-23.1203,-134.9692,70.95,70.0,0.0,3.58,PF,1.627639e+09
73,Saint-François,46.4154,3.9054,72.48,72.0,0.0,3.44,FR,1.627639e+09
94,Krasne,49.9145,24.6134,79.95,49.0,0.0,6.15,UA,1.627639e+09
110,Pedernales,18.0384,-71.7440,79.52,66.0,0.0,3.89,DO,1.627639e+09
446,Chenôve,47.2932,5.0046,74.62,53.0,0.0,8.05,FR,1.627639e+09
474,Morondava,-20.2833,44.2833,79.52,55.0,0.0,9.10,MG,1.627639e+09
488,Campbell River,50.0163,-125.2446,71.13,82.0,0.0,5.84,CA,1.627639e+09
547,Zarichne,51.8126,26.1290,79.97,41.0,0.0,9.46,UA,1.627639e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure